@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;800&display=swap');


.form-control{
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
}

.boton{
  margin-top: 20px;
  margin-bottom: 50px;
  width: 200px;
  height: 50px;
  background-color: red;
  color: white;
}


.fontbold{
  font-weight: bold;
}

.fuente-1{
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

.fuente-2{
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}


.link-titular:link{
  font-family: "Raleway", sans-serif;
  font-size: 5.0rem;
  font-weight: 800;
  line-height: 2.0;
  text-align: left;
  text-decoration: none;
  color:black;


}

.link-titular:visited{
  color: black;
}

.fuente-3{
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.5;
  text-align: left;

}

.fuente-4{

  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.5;

}

.fuente-5{
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
}
.fuente-5-ita{
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  font-style: italic;
}




.fuente-6{
  font-family: "Raleway", sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.0;
}

.fuente-7{
font-family: "Raleway", sans-serif;
font-size: 1.0rem;
font-weight: 800;
line-height: 1.5;
}










.imagenfuego{
  width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
    padding-top: 30px;

}
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
  width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}












.listarobot{
  padding-left: 20px;
}

.central{
  margin: 0 auto;
  padding: 0px;
}


.video-fluid-item{
  margin: 0 auto;
}



.video-fluid {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.video-fluid-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.video-fluid::before {
    display: block;
    content: "";
    padding-top: 56.25%;
}


.header{
  width: 60%;
  margin: 0 auto;

}

.fondogris{
  padding: 0px;
  margin: 0 auto;
  width: 100%;
  background-color: rgb(244, 244, 244);
}
.fondogris2{
  background-color: rgb(244, 244, 244);
  margin: 0 auto;
  width: 100%;

}


body{
  margin: 0 auto;
  padding: 0 auto;
}

html{
  margin: 0 auto;
  padding: 0 auto;

}





.linkcabecera:link{
  color:rgb(0, 0, 0);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 1.0rem;
  font-weight: 800;
  line-height: 1.5;
  text-align: left;
}
.link-actual:link{
  color: rgb(189, 55, 0);
  text-decoration: none;
}
.link-actual:visited{
  color: rgb(189, 55, 0);
  text-decoration: none;
}

.link-actual:hover{
  color:rgb(0,0,0,0.5);
}

.linkcabecera:hover{
  color:rgb(0,0,0,0.5);
}

.linkcabecera:visited{
  color:rgb(0, 0, 0);
  text-decoration: none;

}
.enlacepie:link{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.enlacepie:visited{
  color: rgb(255, 255, 255);
}
.enlacepie:hover{
  color: rgb(189, 55, 0);

}
.linksocial:hover{
  opacity: 0.7;
}

.enlacenaranja{
  color: rgb(189, 55, 0);
  text-decoration: none;
}
.enlacenaranja:hover{
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.enlace-leer-sintoma{
  text-decoration: none;
  border-bottom: 1px dotted;
  color: rgb(189, 55, 0);

}

.enlace-leer-sintoma:hover{
  text-decoration: none;
  border-bottom: 0.8px dotted;
  color: rgb(0, 0, 0);

}








.imgsocial{
  padding-top: 20px;
  height: 25px;
}

  @media only screen and (min-width: 360px) {



    .video-1{
      padding-bottom: 20px;

    }


    .video-2{
      padding-bottom: 20px;



    }

    .video-3{
      padding-bottom: 20px;



    }

    .video-4{
      padding-bottom: 20px;


    }


.izquierda{
  width: 90%;
  margin: 0 auto;
  background-color: rgb(244, 244, 244);
}

.derecha{
  width: 90%;
  margin: 0 auto;
  background-color: rgb(244, 244, 244);

}


.contenedorimagenglobo{
  width: 80%;
}



.grid-container1{
  width: 80%;
  margin: 0 auto;
}


.imagenvideo{
  margin: 0 auto;
  width: 100%;
  padding-bottom: 25px;
  padding-top: 25px;
}

  .grid-container2{
    width: 80%;
    margin: 0 auto;
    text-align: left;

}


.grid-container3{
  width: 80%;
  margin: 0 auto;

}
  .img2{
    margin: 0 auto;
    text-align: center;
    width: 800px;

  }



    ul, li {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .menu-links li {
      margin-right: 15px;
      font-weight: 500;
    }

    .nav{
      margin: 0 auto;
      width: 80%;
      text-align: center;


    }


    .header{
      width: 50%;
      margin: 0 auto;
      text-align: center;

    }


    .container{
      margin: 0 auto;

    }



    .img1{
      margin: 0 auto;
      width: 100%;
      height: 300px;
    }

    .img2{
      margin: 0 auto;
      width: 100%;
    }




    .container2{
      margin: 0 auto;
      width: 70%;
      text-align: left;
    }
    .center{
      text-align: center;
    }

    footer{
      margin: 0 auto;
      padding: 30px;
      background-color: black;
      color: white;
      text-align: center;
    }

    .container-grado{
      margin: 0 auto;
      width: 90%;
      padding-bottom: 50px;

    }

    .imagen1{
      margin: 0 auto;
    }
    .imagen2{
      margin: 0 auto;

    }
    .imagen3{
      margin: 0 auto;

    }


    .contenedorbghero{
      margin: 0 auto;
      width: 100%;


    }



  }





@media (min-width: 1200px) {
  .grid-container2{
    background-color: rgb(244, 244, 244);
    padding: 0px;
    grid-gap: 5px;
    display: grid;
    grid-template-areas:
    "imagen-inundaciones texto-1 relleno1"
    "relleno2 imagen-sequia texto-2 "
    "imagen-olascalor texto-3 relleno3"
    "relleno4 imagen-incendioforestal texto-4 "
    "imagen-extincionespecie texto-5 relleno5"

}

.grid-container3{
  padding-bottom: 30px;
  grid-column-gap: 15px;
  grid-row-gap: 30px;
  margin: 0 auto;
  margin: 0px;
  background-color: rgb(244, 244, 244);
  display: grid;
  grid-template-areas:
  "video-1 video-2"
  "video-3 video-4"

}


.grid-container4{
  grid-column-gap: 20px;
  width: 63%;
  margin: 0 auto;
  background-color: rgb(244, 244, 244);
  display: grid;
  grid-template-areas:
  "izquierda derecha"

}

.img-globo{
  width: 60%;
}

.derecha{
  grid-area: derecha;
}

.izquierda{
  grid-area: izquierda;
}




.video-1{

  width: 560px;
  grid-area: video-1;


}


.video-2{
  width: 560px;
  grid-area: video-2;


}

.video-3{
  width: 560px;
  grid-area: video-3;


}

.video-4{
  width: 560px;
  grid-area: video-4;

}

  .relleno1{
  padding: 0px;
  margin: 0px;
  width: 400px;
  grid-area: relleno1;
  background-color: rgb(244, 244, 244);
}

.relleno2{
  padding: 0px;
  margin: 0px;
  width: 400px;
  grid-area: relleno2;
  background-color: rgb(244, 244, 244);
}
.relleno3{
  padding: 0px;
  margin: 0px;
  width: 400px;
  grid-area: relleno3;
  background-color: rgb(244, 244, 244);
}
.relleno4{
  padding: 0px;
  margin: 0px;
  width: 400px;
  grid-area: relleno4;
  background-color: rgb(244, 244, 244);
}
.relleno5{
  padding: 0px;
  margin: 0px;
  width: 400px;
  grid-area: relleno5;
  background-color: rgb(244, 244, 244);
}


.contenedor22{
  padding: 0px;
  margin: 0px;
  width: 75%;
  margin: 0 auto;
  background-color: rgb(244, 244, 244);

}

.imagen-inundaciones{
  padding: 0px;
  margin: 0px;
  grid-area: imagen-inundaciones;
  width: 400px;
}

.imagen-sequia{padding: 0px;
  margin: 0px;
  grid-area: imagen-sequia;
  width: 400px;
}


.imagen-olascalor{
  padding: 0px;
  margin: 0px;
  grid-area: imagen-olascalor;
  width: 400px;



}



.imagen-incendioforestal{
  padding: 0px;
  margin: 0px;
  grid-area: imagen-incendioforestal;
  width: 400px;


}

.imagen-extincionespecie{
  padding: 0px;
  margin: 0px;
  grid-area: imagen-extincionespecie;
  width: 400px;



}

.texto-1{
  padding: 0px;
  margin: 0px;
  grid-area:texto-1;
  width: 400px;

}

.texto-2{
  padding: 0px;
  margin: 0px;
  grid-area:texto-2;
  width: 400px;


}

.texto-3{
  padding: 0px;
  margin: 0px;
  grid-area:texto-3;
  width: 400px;


}



.texto-4{
  padding: 0px;
  margin: 0px;
  grid-area:texto-4;
  width: 400px;


}

.texto-5{
  padding: 0px;
  margin: 0px;
  grid-area:texto-5;
  width: 400px;


}



.grid-container1{
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "imagen1 imagen2 imagen3"

}

.nav{
  margin: 0 auto;
  width: 60%;
  margin-left: 0px;
  text-align: left;


}

.header{
  width: 60%;
  margin: 0 auto;
  text-align: left;

}

.img2{
}

.img1{
  margin: 0 auto;
  width: 100%;
  height: 400px;
}


ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu-links li {
  margin-right: 15px;
  font-weight: 500;
  display: inline-block;
}


footer{
  margin: 0 auto;
  padding: 30px;
  background-color: black;
  color: white;
  text-align: left;
}










h2{
  text-align: left;
}
.center{
  text-align: center;
}

.imagen1{
  grid-area: imagen1;
  width: 200px;
}
.imagen2{
  grid-area: imagen2;
  width: 200px;

}
.imagen3{
  grid-area: imagen3;
  width: 200px;

}

.texto {
  grid-area: texto;
  margin: 0 auto;

}

.contenedorbghero{
  margin: 0 auto;


}




.pfooter{
}


.container{
  margin: 0 auto;
  width: 60%;
}

.container-1.5{
  margin: 0 auto;
  width: 50%;
}


.container2{
  margin: 0 auto;
  width: 30%;
  text-align: left;
}
.container-grado{
  margin: 0 auto;
  width: 60%;
  padding-bottom: 50px;

}

}



.formulario{
  background-color: rgb(242, 232, 228);
  padding-top: 20px;
}












/* Comentario */



blockquote {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 50px;
    padding: 15px 30px;
    background-color: #eee;
    border-left: 4px solid #ff1616;
}


.enumeracion{
  list-style-type:decimal;
  padding-bottom: 10px


}

.alinear-centro{
  text-align: center;
  background-color: rgb(244, 244, 244);}

.contenedor-main4{
  width: 100%;
  background-color: rgb(244, 244, 244);

}
